<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TinTinApp_iOS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6C004BCF1EC18D5C004BC3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C004BE31EC18D5D004BC3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6C004BEE1EC18D5D004BC3A6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
